<h1>View</h1>
<div class="form-container">

<div class="row">
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 text-center">
        <div class="user-icon-block block-center">
            <span class="glyphicon glyphicon-user"></span>
        </div>
    </div>

    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12 ">
        <h4 >
            First name:
            <strong>{{ vm.user.firstName }}</strong>
        </h4>
        <h4 >
            Last name:
            <strong>{{ vm.user.lastName }}</strong>
        </h4>
        <h4 >
            Email:
            <strong>{{ vm.user.email }}</strong>
        </h4>
    </div>

</div>




</div>
